.white{
    color: white;
}

.cyan{
    color:cyan;
}

.error{
    border: 3px solid red;
    border-radius: 10px;
}

.tnr{
    font-family: 'Times New Roman', Times, serif;
}

.green-border{
    border: 3px solid rgb(2, 238, 2);
}


.b-w{
    background-color: rgba(170, 170, 170, 0.311);
}

.b-n{
    background-color: rgba(0, 0, 0 ,0.5);
}


#b-alert-a:hover, #b-alert-c:hover, #b-alert-i:hover{
    background-color: rgba(229, 255, 0, 0.631);
}    

#b-alert-a:active, #b-alert-c:active, #b-alert-i:active{
    background-color: rgba(0, 255, 68, 0.631);
}  

#btn-el button:hover{
    background-color: rgba(0, 217, 255, 0.631);
}

#btn-el button:active{
    background-color: rgba(0, 255, 106, 0.631);
}

#l, #r{
    box-shadow: 0px 0px 10px 10px red;
    border-radius: 10px;
}

#b-start:active{
    background-color: rgba(0, 255, 106, 0.631);
}

.b-white{
    background-color: white;
}

.b-green{
    background-color: greenyellow;
}

.b-red{
    background-color: red;
}

.b-cyan{
    background-color: cyan;
}

